{% set project_name = salt['pillar.get']('project_name', 'default_project') %}
{% set project_root_path = salt['pillar.get']('project_root_path', 'default_root_path') %}
upstream {{ project_name }} {
    server unix:/{{ project_root_path }}/{{ project_name }}/{{ project_name }}/uwsgi.sock; # for a file socket
}


server {
        listen 80;
        server_name 46.101.173.232;

        charset     utf-8;
        client_max_body_size 75M;

        location /static/ {
            alias {{ project_root_path }}/{{ project_name }}/assets/;
        }

        location /media/ {
            alias {{ project_root_path }}/{{ project_name }}/media/;
        }

        location / {
        uwsgi_pass  {{ project_name }};
        include uwsgi_params; # the uwsgi_params file you installed
        }

    }