# uWSGI - Emperor

description     "uWSGI Emperor"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

env BINPATH={{ salt['pillar.get']('uwsgi:bin_path') }}
# TODO (kniski) split to apps-available and apps-enabled dirs
env EMPEROR=/etc/uwsgi/vassals
env UID=www-data
env GID=adm
env LOGTO=/var/log/uwsgi/emperor.log
env INI={{ salt['pillar.get']('uwsgi:root_path', 'root_path') }}/emperor/emperor.ini

exec  $BINPATH --ini $INI
# exec $BINPATH --master --die-on-term --emperor $EMPEROR --logto $LOGTO --uid $UID --gid $GID
