{% set project_main_dir = salt['pillar.get']('project_main_dir', 'main_dir') %}
[uwsgi]
# Django-related settings
# the base directory (full path)
chdir           =  {{ project_main_dir }}
# Django's wsgi file
module          = foster_home.wsgi:application
# the virtualenv (full path)
home            = {{ salt['pillar.get']('python:virtualenv_path') }}
# process-related settings
# maximum number of worker processes
processes       = {{ salt['pillar.get']('appini:processes', '1') }}
# the socket (use the full path to be safe
socket          = {{ project_main_dir }}/foster_home/uwsgi.sock
# ... with appropriate permissions - may be needed
chmod-socket    = 664
# clear environment on exit
vacuum          = true
# log settings
logto           = /var/log/uwsgi/{{ salt['pillar.get']('project_name', 'default_project') }}.log
uid             = www-data
gid             = adm
env             = DJANGO_SETTINGS_MODULE=foster_home.settings.development
harakiri        = 20
max-requests    = 5000