{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'package': 'nginx-full',
        'default_user': 'nginx',
        'default_group': 'nginx',
        'home': '/var/www',
    }
}, merge=salt['pillar.get']('nginx:lookup'), default='Debian') %}