{% set postgres = salt['grains.filter_by']({
    'defaults': {
        'db_role': 'postgres',
        'db_name': 'template0'
    },
    'Debian': {
        'service': 'postgresql',
        'version': '9.3',
    }
}, merge=salt['pillar.get']('postgres:lookup'), default="defaults") %}

